.button {
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	gap: calc(var(--sm-spacing) + var(--xsm-spacing));

	&:hover {
		opacity: 0.8;
	}

	svg {
		flex-shrink: 0;
	}

	&:disabled {
		opacity: 0.2;
		cursor: not-allowed;
	}
}

.normal {
	font-size: 14px;

	&.primary {
		color: var(--enigmatic-purple);
	}

	&.secondary {
		color: var(--grayish-blue);
	}

	&.danger {
		color: var(--crimson-blaze);
	}

	&.tertiary {
		color: var(--_badge-color);
	}

	&.white {
		color: var(--_button-color);
	}

	&.sm {
		font-size: 14px;
	}

	&.md {
		font-size: 16px;
	}

	&.lg {
		font-size: 24px;
	}
}

.contained {
	border-radius: var(--lg-spacing);
	font-size: 16px;
	padding: calc(var(--sm-spacing) + var(--xsm-spacing)) var(--md-spacing);

	&.primary {
		background-color: var(--enigmatic-purple);
		color: var(--pure-white);
	}

	&.secondary {
		background-color: var(--button-secondary-bg);
		color: var(--enigmatic-purple);
	}

	&.danger {
		background-color: var(--crimson-blaze);
		color: var(--pure-white);
	}

	&.white {
		background-color: var(--pure-white);
		color: var(--enigmatic-purple);
	}

	&.sm {
		font-size: 14px;
		padding: var(--sm-spacing) var(--md-spacing);
	}
}

.normal {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.semiBold {
	font-weight: 600;
}

.bold {
	font-weight: 900;
}

.center {
	justify-content: center;
}

.fullWidth {
	width: 100%;
}
