.truncate {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--line-clamp);
	display: -webkit-box;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: normal;
}
