.themeSwitch {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--md-spacing);
	padding: var(--md-spacing);
	border-radius: var(--xlg-spacing);
	background-color: var(--_theme-switch-bg);
}
