@import '@/styles/breakpoints';

.logo {
	border-right: 1px solid var(--_border-line-color);
	display: flex;
	align-items: center;
	width: var(--sidebar-width);
	padding: var(--lg-spacing);
	flex-shrink: 0;

	svg {
		color: var(--_logo-color);
	}

	@include respond-below('md') {
		padding-inline: var(--sm-spacing) 0;
		width: auto;
		border-right: none;

		svg {
			width: 24px;
		}

		path {
			display: none;
		}
	}
}
