.layout {
	display: flex;
	flex-direction: column;
}

.header,
.main {
	display: flex;
}

.header {
	border-bottom: 1px solid var(--_border-line-color);
	background-color: var(--_card-bg-color);
}

.main {
	height: 100%;
	background-color: var(--_theme-switch-bg);
	flex-grow: 1;
	overflow: auto;
	position: relative;
}
