.dropdown {
	position: relative;
	display: inline-block;
	z-index: 4;
}

.settings {
	padding: var(--sm-spacing);
	border-radius: var(--md-spacing);
	cursor: pointer;
	min-width: 24px;
	height: 38px;

	&:hover {
		background-color: var(--_dropdown-ellipsis-bg, #20212c);
	}
}

.content {
	display: grid;
	min-width: 160px;
	justify-content: start;
	text-align: left;
	gap: var(--sm-spacing);
	position: absolute;
	top: calc(100% + var(--sm-spacing));
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.middle {
	left: 50%;
	translate: -50% 0;
}

.button {
	text-align: left;
}
