@import '@/styles/breakpoints';

.modal {
	position: fixed;
	inset: 0;
	z-index: 5;
}

.backdrop {
	background-color: var(--pure-black);
	opacity: 0.5;
	position: absolute;
	z-index: 1;
	inset: 0;
}

.wrapper {
	display: grid;
	height: 100%;
	overflow: auto;
	place-items: center;
	width: 100%;
}

.content {
	max-height: 770px;
	max-width: 480px;
	padding: var(--xlg-spacing);
	position: relative;
	width: 100%;
	z-index: 2;

	@include respond-below('sm') {
		padding: var(--md-spacing);
	}
}
