.column {
	border-radius: 6px;
	display: inline-flex;
	flex-direction: column;
	gap: var(--md-spacing);
	width: 280px;
	margin: 0 var(--sm-spacing);
	height: 100%;

	&:empty {
		border: 2px dashed rgba(130, 143, 163, 0.4);
		height: 100%;
	}
}

.active {
	position: relative;

	&::after {
		align-items: center;
		background-color: var(--enigmatic-purple);
		outline: 2px dashed var(--enigmatic-purple);
		border-radius: var(--xsm-spacing);
		content: attr(data-name);
		display: flex;
		font-size: 14px;
		font-weight: bold;
		top: 0;
		bottom: 0;
		width: 100%;
		justify-content: center;
		position: absolute;
	}

	&:empty::after {
		top: 0;
	}
}
