.column {
  outline: 1px dashed rgba(130, 143, 163, 0.4);
  outline-width: 2px;
  border-radius: 6px;
  width: 280px;
  min-height: 400px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}
